<!DOCTYPE html>
<!-- Kielen määritys -->
<html lang="fi">
<head>
  <meta charset="UTF-8">
  <!-- Responsiivisen sivun määrittely -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HarsoRy</title>
  <!-- CSS-tyyliasetukset -->
  <link rel="stylesheet" type="text/css" href="hippostyle.css">
  <link href='https://fonts.googleapis.com/css?family=Nanum Pen Script' rel='stylesheet'>
</head>
<!-- Varsinainen sivun sisältö -->

<body>
  <h1>Harso Ry</h1>
  <h2>Yhteystiedot</h2>
  <ul>
    <li>045 222 9120</li>
    <li>sihteeri@harso.fi</li>
    <li><a href="https://www.harso.fi">www.harso.fi</a></li>
  </ul>
  <p>Harso Ry on harvinaisten sairauksien yhdistys,</p>
  <p>johon kuuluu monia eri sairaus yhdistyksiä.</p>
  <img src="Sairas.png" alt="Harvinaissairas">
</body>

</html>